on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Repo'yu çek
      - name: Checkout repository
        uses: actions/checkout@v4

      # MinGW x86-64 compiler kurulumu
      - name: Install MinGW x86-64 compiler
        run: sudo apt install -y g++-mingw-w64-x86-64

      # JDK 8 kurulumu (apt yerine setup-java action kullanıyoruz)
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: temurin   # AdoptOpenJDK artık Temurin ile güncel
          java-version: 8

      # input.jar kontrolü
      - name: Check if input.jar exists
        id: check_input_jar
        uses: andstor/file-existence-action@v2
        with:
          files: input.jar

      # input.jar yoksa test dosyasını kopyala
      - name: Copy test if input.jar does not exist
        if: steps.check_input_jar.outputs.files_exists == 'false'
        run: |
          echo "::warning file=input.jar::No input.jar presented, so using input.jar.test"
          cp input.jar.test input.jar

      # Build işlemi
      - name: Build
        run: make build

      # output.dll artifact olarak yükle
      - name: Upload output.dll as artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-x64.dll
          path: output.dll
          if-no-files-found: error
